body,h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding:0;
}

body{
	font-family: 'Open Sans', sans-serif;
}

h3, h4{
	margin: 0px 0px 10px 0px;
	padding-bottom: 10px;
}

p{
	margin: 10px 0px 10px 0px;
}

ul{

	padding-bottom: 10px;
}

.page-header{
	margin:0px;
	padding:20px;
	background-color: #1083a0;
	color:white;
}

#graph_panel{
	width:800px !important;
	height:700px !important;
	background-color: #e6eff2;
	border-style:solid;
	border-color: #aaaaaa;
	padding: 0px;
}

.floater{
	float: left;
	margin-top: 20px;
}


#right_panel{
	width:480px;
	height: 1000px;
	margin-left: 20px;
	box-shadow: -2px 0px 0px #dddddd;
	padding-left: 20px;
}

.workspace_btn{
	margin-bottom: 20px;
	background-color: #666666;
	color:white;
	border-style:solid;
	border-color:#222222;
}

.workspace_btn:hover, .workspace_btn:active{
	margin-bottom: 20px;
	background-color: #888888;
	color:white;
	border-style:solid;
	border-color:#222222;
}

.workspace_btn_clicked{
	background-color: #888888;
}

footer{
	background-color: #444444;
	color: white;
	padding-top:30px;
	padding-bottom: 30px;
}

a{
	color: #0cafd3;
	text-decoration: none;
}

a:hover, a:active{
	color: #22c1e5;
	text-decoration: none;
}

.dropdown-heading{
	font-size: 12pt;
	color:#888888;
}

.a-algorithm{
	color: #000000;
	text-decoration: none;
	display: block;
	border-style: solid;
	border-color: #cccccc;
	border-radius:10px;
	padding:5px;
}

.a-algorithm:hover, .a-algorithm:active{
	color: white;
	text-decoration: none;
	display: block;
	border-style: solid;
	border-color: #19a3d1;
	border-radius:10px;
	padding:5px;
	background-color: #19a3d1;
}

.underlined{
	box-shadow: 0px 1px #dddddd;
	width:250px;
}

.colored-text{
	color: #228fad;
}

.solution-result{
	font-size: 12pt;
}

.step{
	margin-bottom: 5px;
	background-color:#dddddd;
	padding: 5px;
}

.padded{
	padding:14px;
}

.top-margin-negative{
	margin-top:-15px;
}

input{
	width:50px;
	height:30px;
	margin-bottom: 20px;
	background-color: #eeeeee;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	margin-right:10px;
}

#final_results{
	overflow-y: scroll;
	height: 750px;
}
/* joint js disable link tools ====================== */
.link-tools .tool-remove { display: none; }
.link-tools .tool-options { display: none; }
.link .mark-errors { display: none; }
.link .marker-arrowheads{ display: none; }
.link .marker-vertex-group{display: none;}
.link .connection-wrap{display: none;}