/* Globals ======================= */
/*Color palette */
/* Google Colors
$header_color : #0288d1;
$header_dark : #01579b;
$toolbar_color : #37474f;
$btn_color : #03a9f4;
$btn_active : #ff9800 ;
$btn_important: #ff5722;
$footer_color: #263238; */
$header_color : #1b8db7;
$header_dark : #1b5f87;
$toolbar_color : #2b373a;
$btn_color : #1ea9db;
$btn_active : #eaaf31;
$btn_important: #cc5c16;
$footer_color: #263238;
$graphView_color : #f4fcff;
/*Mixing */
@mixin border_radius(){
	-webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
	 	-ms-border-radius:0 !important;
          border-radius: 0 !important;
}
/*Other Globals*/
$toolbarWidth : 160px;
$footer_height: 90px;
/* Initializers ================== */
html,body,h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding:0;
}

h1,h2,h3,h4,h5,h6{
	display: inline-block;
}

body{
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	position:relative;
}

ul{
	margin-left:10px;
	padding: 10px;
}

input{
	width:50px;
	height:30px;
	margin-bottom: 20px;
	background-color: #eeeeee;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	margin-right:10px;
}

/* Bootstrap override ========= */
.btn-group-vertical{
	@include border_radius();
}

.btn:first-child:not(:last-child){
	@include border_radius();
}

.btn:last-child:not(:first-child){
	@include border_radius();
}

.modal-content{
	@include border_radius();
}

.btn, .btn-primary, .btn-default{
	@include border_radius();
}

/* Flexbox ========================================= */
.flexContainer{
	display: -webkit-flex;
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}

.flexContainerNW{
	display: -webkit-flex;
	display:flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-start;
}

.flexContainerVrt{
	display: -webkit-flex;
	display:flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: flex-start;
}

/* Layers (biggest on top - level 0 = ground) ================================== */
.layer1Right{
	position: relative;
	z-index: 2;
	box-shadow: 1px 1px 2px 0px #222222;
}

.layer2Bot{
	position: relative;
	z-index: 3;
	box-shadow: 0px 3px 4px 0px #222222;
}

.layer2Up{
	position: relative;
	z-index: 3;
	box-shadow: 0px -2px 3px 0px #222222;
}

/* Header =================================== */
#pageHeader{
	padding:10px;
	background-color: $header_color;
	color:white;
	height:50px;
}

#logo{
	order:1;
}

#logoSubText{
	order:2;
}

.subHeading{
	color:#e1f5fe;
	font-size:13pt;
	margin-left:10px;
}

#main_container{
	position: relative;
}

/* Tools panel ============================ */
#tools_panel{
	width: $toolbarWidth;
	min-width: 160px;
	background-color: $toolbar_color;
	position:absolute;
}

.toolboxHeading{
	margin-top: 10px;
	margin-bottom: 10px;
	color:#dddddd;
	padding:10px;
	font-size:11pt;
}

/* Draw Area =================================== */
#drawHeader{
	background-color: $header_dark;
	color:#b3e5fc;
	padding-top:10px;
	padding-bottom:10px;
	font-size: 13pt;
	text-align: center;
	margin-left:$toolbarWidth;
	position:relative;
}

#graph_panel{
	background-color: $graphView_color;
	padding: 0;
	height:1000px;
	margin-left:$toolbarWidth;
	position:relative;
}

/*Solution Box styling =========================== */
#solutionBox{
	background-color: $header_dark;
	padding: 10px;
	position:absolute;
	right:0;
	top:0;
}

#solutionBoxHeader{
	background-color:$btn_color;
	color:white;
	padding:10px;
	font-size:13pt;
	text-align: center;
}

#solutionBoxData{
	padding:10px;
	overflow-y: scroll;
	background-color: #d9eaf4;
}

.colored-text{
	color:$btn_color;
}

.solution-result{
	font-size: 12pt;
}

.step {
	margin-bottom: 5px;
	padding: 5px;
	@include border_radius();
}

.step:hover, .step:active{
	background-color: $header_color;
	color:white;
}

/* Buttons ============================================ */
.workspace_btn{
	background-color: $btn_color;
	color:white;
	border-style:none;
	border-radius:0px;
	white-space: normal;
	padding:10px;
	font-size: 11pt;
}

.workspace_btn:hover, .workspace_btn:active, .workspace_btn_clicked{
	background-color: $btn_active;
	color:white;
}

.accentColor{
	background-color: $btn_important;
	color:white;
	border-color: $btn_important;
}

/* Footer =========================== */
footer{
	background-color: $footer_color;
	color: white;
	padding-top:20px;
	padding-bottom: 20px;
	font-size: 12pt;
	text-align: center;
	height: $footer_height;
}

/* Dialog Css =========================== */
.dialogHeader{
	background-color: $header_color;
	color:white;
	padding:10px;
	font-size: 13pt;
	border-radius:0px;
}

.scrollView{
	overflow-y: scroll;
	height:200px;
}

input[type="radio"] {
    line-height: normal;
    margin: 10px 0 0;
    position: relative;
	width:20px;
	height: 20px;
}

/* joint js disable link tools ====================== */
.link-tool .tool-remove { display: none; }
.link-tool .link-options { display: none; }
.joint-link .mark-errors { display: none; }
.joint-link .marker-arrowheads{ display: none; }
.joint-link .marker-vertices{display: none;}
.joint-link .connection-wrap{display: none;}