html,body,h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding:0;
}

body{
	font-family: 'Open Sans', sans-serif;
}

ul{
	padding-bottom: 10px;
}

.ul_no_numbering{
	list-style: none;
}

.ul_child{
	margin-left: 10px;
	margin-top: 10px;
}

.pageHeaderWork{
	padding-top:10px;
	padding-bottom:10px;
	background-color: #1083a0;
	color:white;
}

.subheading{
	color:#dddddd;
	margin-left:15px;
	font-size:11pt;
}

.rowWidthFixed{
	width:300px;
}

#panel_container{
	padding: 0;
}

#graph_panel{
	background-color: #dddddd;
	width:100%;
	padding: 0;
}

#right_panel{
	width:480px;
	height: 1000px;
	margin-left: 20px;
	box-shadow: -2px 0px 0px #dddddd;
	padding-left: 20px;
}

.workspace_btn{
	margin-bottom: 20px;
	background-color: #666666;
	color:white;
	border-style:solid;
	border-color:#222222;
}

.workspace_btn:hover, .workspace_btn:active{
	background-color: #888888;
	color:white;
	border-style:solid;
	border-color:#222222;
}

.workspace_btn_clicked{
	background-color: #888888;
}

footer{
	background-color: #444444;
	color: white;
	padding-top:30px;
	padding-bottom: 30px;
}

a{
	color: #0cafd3;
	text-decoration: none;
}

a:hover, a:active{
	color: #22c1e5;
	text-decoration: none;
}

.dropdown-heading{
	font-size: 12pt;
	color:#888888;
}

.a-algorithm{
	color: #000000;
	text-decoration: none;
	display: block;
	border-style: solid;
	border-color: #cccccc;
	border-radius:10px;
	padding:5px;
}

.a-algorithm:hover, .a-algorithm:active{
	color: white;
	text-decoration: none;
	display: block;
	border-style: solid;
	border-color: #19a3d1;
	border-radius:10px;
	padding:5px;
	background-color: #19a3d1;
}

.lowerHeight{
	margin-top: 5px;
}

.underlined{
	box-shadow: 0px 1px #dddddd;
	width:400px;
}

.colored-text{
	color: #228fad;
}

.solution-result{
	font-size: 12pt;
}

.step {
	background-color:#bed6e0;
	margin-bottom: 5px;
	padding: 5px;
}

.step:hover, .step:active{
	color:white;
	background-color: #4facd1;
}

.padded{
	padding:14px;
}

.top-margin-negative{
	margin-top:-15px;
}

input{
	width:50px;
	height:30px;
	margin-bottom: 20px;
	background-color: #eeeeee;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	margin-right:10px;
}

#final_results{
	height: 750px;
}

/* Dialog Css =========================== */
.scrollView{
	overflow-y: scroll;
	height:150px;
}

.ui-dialog-titlebar-close{
	visibility: hidden;
}

.ui-dialog,
.ui-dialog-content {
    background: #ffffff;
    border: 0 none;
    overflow: none;
    padding: 0.5em 1em;
    position: relative;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-radius: 0px;
}

.ui-widget-header {
    background: #4facd1;
    color: #ffffff;
    font-weight: bold;
}

.ui-dialog .ui-dialog-titlebar {
    position: relative;
}

.ui-dialog {
    left: 0;
    outline: 0 none;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    top: 0;
}

.ui-dialog-titlebar{
	padding: 10px;
}

input[type="radio"] {
    line-height: normal;
    margin: 10px 0 0;
    position: relative;
}

#dca_dialog_btn_container{
	margin-top:20px;
}

/* joint js disable link tools ====================== */
.link-tools .tool-remove { display: none; }
.link-tools .tool-options { display: none; }
.link .mark-errors { display: none; }
.link .marker-arrowheads{ display: none; }
.link .marker-vertex-group{display: none;}
.link .connection-wrap{display: none;}