/* Initializers ================== */
html,body,h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding:0;
}

body{
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

ul{
	margin-left:10px;
	padding: 10px;
}

input{
	width:50px;
	height:30px;
	margin-bottom: 20px;
	background-color: #eeeeee;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	margin-right:10px;
}

/* Bootstrap override ========= */
.btn-group-vertical{
	-webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.btn:first-child:not(:last-child){
	-webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.btn:last-child:not(:first-child){
	-webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.modal-content{
	-webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

/* Layers (biggest on top - level 0 = ground) ================================== */
.layer1Right{
	position: relative;
	z-index: 1;
	box-shadow: 1px 1px 2px 0px #222222;
}

.layer2Bot{
	position: relative;
	z-index: 2;
	box-shadow: 0px 3px 4px 0px #222222;
}

.layer2Up{
	position: relative;
	z-index: 2;
	box-shadow: 0px -2px 3px 0px #222222;
}

/* Content Styling ========================= */

.pageHeader{
	padding-top:10px;
	padding-bottom:10px;
	background-color: #0288d1;
	color:white;
	height:50px;
}

.subHeader{
	background-color: #01579b;
	color:#b3e5fc;
	padding:10px;
	font-size: 13pt;
	text-align: center;
}

.rowSubheading{
	color:#e1f5fe;
	margin-left:15px;
	font-size:13pt;
	margin-left:-40px;
}

#tools_panel{
	width: 160px;
	position: absolute;
	background-color: #37474f;
}

#graph_panel{
	background-color: #e1f5fe;
	padding: 0;
	margin-left: 160px;
	height:1000px;
}

.toolboxHeading{
	margin-top: 10px;
	margin-bottom: 10px;
	color:#dddddd;
	padding:10px;
	font-size:11pt;
}

.workspace_btn{
	background-color: #03a9f4;
	color:white;
	border-style:none;
	border-radius:0px;
	white-space: normal;
	padding:10px;
	font-size: 11pt;
}

.workspace_btn:hover, .workspace_btn:active, .workspace_btn_clicked{
	background-color: #ff9800;
	color:white;
}

.accentColor{
	background-color: #ff5722;
	color:white;
	border-color: #ff5722;
}


footer{
	background-color: #263238;
	color: white;
	padding-top:20px;
	padding-bottom: 20px;
	font-size: 12pt;
	text-align: center;
}

.solution-result{
	font-size: 12pt;
}

.step {
	margin-bottom: 5px;
	padding: 5px;
}

.step:hover, .step:active{
	background-color: #0288d1;
	color:white;
}

/* Dialog Css =========================== */
.dialogHeader{
	background-color: #0288d1;
	color:white;
	padding:10px;
	font-size: 13pt;
	border-radius:0px;
}

.scrollView{
	overflow-y: scroll;
	height:200px;
}

input[type="radio"] {
    line-height: normal;
    margin: 10px 0 0;
    position: relative;
}


/* joint js disable link tools ====================== */
.link-tools .tool-remove { display: none; }
.link-tools .tool-options { display: none; }
.link .mark-errors { display: none; }
.link .marker-arrowheads{ display: none; }
.link .marker-vertex-group{display: none;}
.link .connection-wrap{display: none;}