<!DOCTYPE html>
<html lang="eng">
	<head>
		<title>Workspace</title>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="jquery-ui.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="joint.css" />
        <link rel="stylesheet" href ="workspace.css">
	</head>
	<body>
		<div class="pageHeaderWork container-fluid">
			<div class="row">
				<div class="col-md-2">
					<div class="row rowWidthFixed">
						<div class="col-md-4"><h3>AdHocEd</h3></div>
						<div class="col-md-8"><p class="subheading lowerHeight">Workspace</p></div>
					</div>
				</div>
				<div class="col-md-9"></div>
			</div>
		</div>
		<div class="container-fluid" id="panel_container">
			<div class="floater" id="left_panel">
				<section>
					<article>
	  					<h3 class ="underlined colored-text">Graph Viewer</h3>
						<h4>Use the tools below to construct a connected network graph :</h4>
						<ul>
							<li>Press <b class="text-info">Add Node</b> and click on an area inside the graph view</li>
							<li>Press <b class="text-info">Remove Node</b> and select the nodes to be removed</li>
							<li>Press <b class="text-info">Link Nodes</b> and select two nodes to link</li>
							<li>To remove a link, press <b class="text-info">ESC</b> to deselect tools, and then hover the mouse over a link</li>
							<li>Press <b class="text-info">ESC</b> to stop the tools</li>
							<li>Press <b class="text-info">Clear Graph</b> to delete current network and clear the graph</li>
							<li>Moving a node automatically deselects the tools</li>
						</ul>
					</article>
				</section>
				<div class="btn-group" role="group">
					<div class="btn btn-default workspace_btn" id="add_btn">Add Node <span class="glyphicon glyphicon-plus"></span></div>
					<div class="btn btn-default workspace_btn" id="rm_btn">Remove Node <span class="glyphicon glyphicon-remove"></span></div>
					<div class="btn btn-default workspace_btn" id="link_btn">Link Nodes <span class="glyphicon glyphicon-resize-small"></span></div>
					<div class="btn btn-default workspace_btn" id="clear_btn">Clear Graph</div>
				</div>
				<div class="well" id="graph_panel"></div>
			</div>
			<div class="floater" id="right_panel">
				<section>
					<article>
		  				<h3 class="underlined colored-text">Algorithm Analysis</h3>
					</article>
				</section>
				<div class="dropdown closed">
				  <button class="btn btn-default workspace_btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Select Algorithm
				  </button>
				  <div class="dropdown-menu padded top-margin-negative" aria-labelledby="dropdownMenuButton">
				  	<p class="dropdown-heading underlined">Connected Dominatig Set</p>
				    <a class="dropdown-item a-algorithm text-center" href="#" id="alg_1">Wu & Li</a>
				    <a class="dropdown-item a-algorithm text-center" href="#" id="alg_2">Multipoint Relays</a>
				    <p class="dropdown-heading underlined">Clusters</p>
				    <a class="dropdown-item a-algorithm text-center" href="#" id="alg_3">DCA</a>
				    <a class="dropdown-item a-algorithm text-center" href="#" id="alg_4">Max Min D-Cluster</a>
				    <a class="dropdown-item a-algorithm text-center" href="#" id="alg_5">Maximal Independent Set</a>
				    <p class="dropdown-heading underlined">Topology Control</p>
				    <a class="dropdown-item a-algorithm text-center" href="#" id="alg_6">LMST</a>
				    <a class="dropdown-item a-algorithm text-center" href="#" id="alg_7">RNG</a>
				    <a class="dropdown-item a-algorithm text-center" href="#" id="alg_8">GG</a>
				  </div>
				</div>
				<p id="selection_text">You haven't selected anything yet</p>
				<div class="btn btn-default workspace_btn" id="results_btn" >Execute</div>
				<div class="well scrollView" id="final_results"></div>
			</div>
		</div>
		<div id="dca_dialog" title="Node Weights">
			<p id="dca_dialog_heading">Specify the weights of the nodes before execution. Each node must have a different weight.</p>
			<form>
				<input type="radio" name="random" checked id="weights_randomBtn"> Random Weights <br/>
				<input type="radio" name="random" id="weights_customBtn"> Insert weights manually <br/>
			</form>
			<div id="dca_dialog_scroll" class="scrollView">
		  		<ul id="dca_dialog_list" class="ul_no_numbering ul_child">
		  		</ul>
		  	</div>
		  	<div id="dca_dialog_btn_container">
				<button class="workspace_btn" id="dca_dialog_cancel">Cancel</button>
				<button class="workspace_btn" id="dca_dialog_continue">Continue</button>
			</div>
		</div>
		<footer class="container-fluid text-center"><h5>Created by John Argyroulis</h5><br/><h6>Thesis for University of Thessaly 
		(Electrical And Computer Engineering)<h6>
		</footer>
	</body>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="lodash.min.js"></script>
	<script src="backbone-min.js"></script>
	<script src="joint.js"></script>
	<script src="networkManager.js"></script>
	<script src="viewManager.js"></script>
	<script src="resultView.js"></script>
</html>