<!DOCTYPE html>
<html lang="eng">
	<head>
		<title>Workspace</title>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="joint.css" />
        <link rel="stylesheet" href ="workspace.css">
	</head>
	<body>
		<div class="page-header text-left">
			<h2>Workspace</h2>
		</div>
		<div class="container-fluid" id="panel_container">
			<div class="floater" id="left_panel">
				<section>
					<article>
	  					<h3 class ="underlined colored-text">Graph Viewer</h3>
						<h4>Use the tools below to construct a connected network graph :</h4>
						<ul>
							<li>Press <b class="text-info">Add Node</b> and click on an area inside the graph view</li>
							<li>Press <b class="text-info">Remove Node</b> and select the nodes to be removed</li>
							<li>Press <b class="text-info">Link Nodes</b> and select two nodes to link</li>
							<li>To remove a link, press <b class="text-info">ESC</b> to deselect tools, and then hover the mouse over a link</li>
							<li>Press <b class="text-info">ESC</b> to stop the tools</li>
							<li>Press <b class="text-info">Clear Graph</b> to delete current network and clear the graph</li>
							<li>Moving a node automatically deselects the tools</li>
						</ul>
					</article>
				</section>
				<div class="btn-group" role="group">
					<div class="btn btn-default workspace_btn" id="add_btn">Add Node <span class="glyphicon glyphicon-plus"></span></div>
					<div class="btn btn-default workspace_btn" id="rm_btn">Remove Node <span class="glyphicon glyphicon-remove"></span></div>
					<div class="btn btn-default workspace_btn" id="link_btn">Link Nodes <span class="glyphicon glyphicon-resize-small"></span></div>
					<div class="btn btn-default workspace_btn" id="clear_btn">Clear Graph</div>
				</div>
				<div class="well" id="graph_panel"></div>
			</div>
			<div class="floater" id="right_panel">
				<section>
					<article>
		  				<h3 class="underlined colored-text">Algorithm Analysis</h3>
					</article>
				</section>
				<div class="dropdown closed">
				  <button class="btn btn-default workspace_btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Select Algorithm
				  </button>
				  <div class="dropdown-menu padded top-margin-negative" aria-labelledby="dropdownMenuButton">
				  	<p class="dropdown-heading underlined">Connected Dominatig Set</p>
				    <a class="dropdown-item a-algorithm text-center" href="#" id="alg_1">Wu & Li</a>
				    <a class="dropdown-item a-algorithm text-center" href="#" id="alg_2">Multipoint Relays</a>
				    <p class="dropdown-heading underlined">Clusters</p>
				    <a class="dropdown-item a-algorithm text-center" href="#" id="alg_3">DCA</a>
				    <a class="dropdown-item a-algorithm text-center" href="#" id="alg_4">Max Min D-Cluster</a>
				    <a class="dropdown-item a-algorithm text-center" href="#" id="alg_5">Maximan Independent Set</a>
				    <p class="dropdown-heading underlined">Topology Control</p>
				    <a class="dropdown-item a-algorithm text-center" href="#" id="alg_6">LMST</a>
				    <a class="dropdown-item a-algorithm text-center" href="#" id="alg_7">RNG</a>
				    <a class="dropdown-item a-algorithm text-center" href="#" id="alg_8">GG</a>
				  </div>
				</div>
				<p id="selection_text">You haven't selected anything yet</p>
				<div class="btn btn-default workspace_btn" id="results_btn" >Execute</div>
				<div class="well" id="final_results"></div>
			</div>
		</div>
		<div id="k_m_alert" title="K or M input invalid">
		  <p id="dialogText"></p>
		</div>
		<footer class="container-fluid text-center"><h5>Created by John Argyroulis</h5><h6>Thesis for University of Thessaly 
		(Electrical And Computer Engineering)<h6>
		</footer>
	</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="lodash.min.js"></script>
	<script src="backbone-min.js"></script>
	<script src="joint.js"></script>
	<script src="networkManager.js"></script>
	<script src="viewManager.js"></script>
</html>