<!DOCTYPE html>
<html lang="eng">
	<head>
		<title>AdHocEd</title>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/jquery-ui.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href ="css/home.css">
	</head>
	<body>
        <div class="jumbotron text-center" id="particles-js">
            <h1>AdHocEd</h1>
            <p>Welcome to AdHocEd, an educational application for students and teachers with graphical representation of basic algorithms for Ad Hoc Wireless networks.
            </p>
            <div class="btn btn-default btn-block home-btn text-center" id="btn_home">Home</div>
        </div>
        <div id="main_panel" class="text-center">
            <section>
                <article>
                    <p class="error_text">We are sorry for the inconvenience, there seems to be a problem with our servers. 
                        Press the "Home" button to be redirected to the Home Page.</p>
                </article>
            </section>
        </div>
        <footer class="layer2Up">
            <p>Created by John Argyroulis</p>
            <p>Thesis for University of Thessaly (Electrical And Computer Engineering)</p>
        </footer>
    </body>
    <script src ="js/handlebars-v4.0.5.js"></script>
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/particles.min.js"></script>
    <script src="js/server_url.js"></script>
    <script src="js/loggedOut.js"></script>
</html>