<!DOCTYPE html>
<html lang="eng">
	<head>
		<title>AdHocEd</title>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="jquery-ui.css">
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="joint.css" />
        <link rel="stylesheet" href ="home.css">
	</head>
	<body>
        <div class="jumbotron text-center" id="main_header">
            <h1>AdHocEd</h1>
            <p>Welcome to AdHocEd, an educational application for students and teachers with graphical representation of Ad Hoc networking algorithms.</p>
            <p>Design an Ad Hoc network with graphics tools and choose from a list of algorithms to run. The results and the steps 
                of the execution will be presented both visually and as text. Made as a practise tool for students who take Ad Hoc networking classes and as a 
                presentation tool for teachers, replacing the blackboard.</p>
        </div>
        <div>
            <p>Todays it's {{day}}/{{month}}/{{year}}</p>
            {{{text}}}
        </div>
    </body>
    <script src="jquery-2.2.4.min.js"></script>
    <script src="jquery-ui.min.js"></script>
    <script src="bootstrap.min.js"></script>
</html>