<!DOCTYPE html>
<html lang="eng">
	<head>
		<title>AdHocEd</title>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/jquery-ui.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href ="css/home.css">
	</head>
	<body>
        <div id="modals_container">
        </div>
        <div class="jumbotron text-center" id="particles-js">
            <h1>AdHocEd</h1>
            <p>Welcome to AdHocEd, an educational application for students and teachers with graphical representation of Mobile Computing algorithms for Ad Hoc networks.
                Create a free account to be able to save the graphs you design in the editor.</p>
            <div class="btn btn-default btn-block home-btn text-center" id="btn_logIn">Log In</div>
            <div class="btn btn-default btn-block home-btn text-center" id="btn_SignUp">Sign Up</div>
        </div>
        <div id="main_panel">
            <section>
                <article class="left_floater">
                    <h4>Overview</h4>
                    <p>Design an Ad Hoc network with graphics tools and choose from a list of algorithms to run. The results and the steps 
                        of the execution will be presented both visually and as text. Made as a practise tool for students who take Ad Hoc networking classes and as a presentation tool for teachers, replacing the blackboard.</p>
                </article>
                <img src='imgs/home_page_img1.png'></img>
                <article>
                    <h4>Features</h4>
                    <p>Visually aid the professor's teaching and students' studying of 
                        the Ad Hoc networking algorithms assosiated with "Mobile 
                        and Ad Hoc Computing". The algorithms supported are:</p>
                        <ul>
                        {{#each algorithms}}
                            <li>{{name}}</li>
                        {{/each}}
                        </ul>
                    <p>These algorithms are based on the papers mentioned in "References" below.</p>
                </article>
                <article>
                    <h4>References</h4>
                    <ul>
                        <li>Wu & Li algorithm : "On Calculating Connected Dominating Set for Efficient Routing in Ad Hoc Wireless Networks" by Jie Wu and Hailan Li</li>
                        <li>Multipoint Relays : "Computing connected dominated sets with multipoint relays" by Cedric Adjih, Philippe Jacquet, Laurent Viennot</li>
                        <li>DCA clusters : "On the Complexity of Clustering Multi-Hop Wireless Networks" by Stefano Basagni</li>
                        <li>Max-Min D-Cluster : "Max-Min D-Cluster Formation in Wireless Ad Hoc Networks" by Alan D. Amis, Ravi Prakash, Thai H.P. Vuong, Dung T. Huynh and "On multihop clusters in wireless sensor networks" by Alexandre Delye, Michel Marot and Monique Becker</li>
                        <li>Maximal Independent Set : "Distributed Construction of Connected Dominating Set in Wireless Ad Hoc Networks" by Peng-Jun Wan, Khaled M. Alzoubi, Ophir Frieder and "Propagation and Leader Election in a Multihop Broadcast Environment" by Israel Cidon and Osnat Mokryn</li>
                        <li>LMST : "Design and Analysis of an MST-Based Topology Control Algorithm" by Ning Li, Jennifer C. Hou, Lui Sha</li>
                        <li>RNG : "Localized LMST and RNG based minimum-energy broadcast protocols in ad hoc networks" by Julien Cartigny, Francois Ingelrest, David Simplot-Ryl, Ivan Stojmenovic</li>
                        <li>GG : "Distributed Topology Control in Wireless Ad Hoc Networks using β-Skeletons" by Manvendu Bhardwaj, Satyajayant Misra and Guoliang Xue</li>
                    </ul>
                </article>
            </section>
        </div>
        <footer class="layer2Up">
            <p>Created by John Argyroulis</p>
            <p>Thesis for University of Thessaly (Electrical And Computer Engineering)</p>
        </footer>
    </body>
    <script src ="js/handlebars-v4.0.5.js"></script>
    <script src ="js/modals.js"></script>
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/particles.min.js"></script>
    <script src="js/server_url.js"></script>
    <script src="js/home.js"></script>
</html>